{% extends "base.html.twig" %}

{% block title %}
	{{title}}
{% endblock %}
{% block body %}
	<h1 class="text-4xl text-center mt-10 text-green">{{title}}</h1>
	<div
		class="flex flex-wrap justify-evenly py-5">
		<!--article-->
		<div class="flex flex-wrap py-5 shadow-lg p-5">
			<div class="image-article mx-auto">
				<img class="w-72" src="{{ asset('/assets/Marché.jpg') }}"></div>

			<div class="text-article mx-5  ">
				<h2>Nouveautés !! Nouvelle Huile dans la boutique</h2>
				<p class="text-green">Hier à 14h50</p>


				<p class="text-lg">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>


			</div>
		</div>

		<!--fin article-->

		<!--article-->
		<div class="flex flex-wrap  py-5 shadow-lg p-5">
			<div class="image-article mx-auto">
				<img class="w-72 " src="{{ asset('/assets/Presse hydraulique.jpg') }}"></div>

			<div class="text-article mx-5">
				<h2>Le pressage, comment ça marche ?</h2>
				<p class="text-green">Hier à 16h50</p>

				<p class="text-lg">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

			</div>
		</div>
		<!--fin article-->


	</div>


{% endblock %}
