{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}

	<h1 class="text-center text-green text-4xl">{{message}}</h1>

	<!--description-->
	<div class="flex flex-col xl:flex-row xl:my-20 xl:mx-52">
		<div class="dropdown my-10 xl:my-0">
			<a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
				Familles botaniques
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				{% for family in famille %}
					<li>
						<a class="dropdown-item " href="{{path('family_huile',{'id':family.id})}}">{{family.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="text-justify xl:ml-20">
			<h1>Huiles végétales de germe de graines et oléagineux activés</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>

			<h1>Pré -traitement: Germination des graines et activation des oléagineux</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>

			<h1>Méthode d’extraction: Presse hydraulique</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>
		</div>

	</div>


{% endblock %}
