{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}

	<h1 class="text-4xl text-center mt-10 text-green-400">{{message}}</h1>

	<!--<p class="w-96 text-justify mx-auto mt-20">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>-->
	<div class=" w-96 mx-auto my-20">
		<h1 class=" text-4xl text-center ">Contenu à venir bientôt</h1>
		<span class="text-8xl">
			<i class="fa fa-clock-o text-green-400  mx-36" aria-hidden="true"></i>
		</span>


	</div>

	
{% endblock %}
