{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}
	<h1 class="text-4xl text-center  text-green">{{title}}</h1>
	<div class=" w-full  mx-auto my-20 ">
		<ul class="list-disc">
			<li class="text-xl font-semibold lg:mx-40">Mentions légales</li>
			<li class="text-xl font-semibold lg:mx-40">Frais de livraison</li>
			<li class="text-xl font-semibold lg:mx-40">Conditions générales de ventes</li>
			<p class="text-justify lg:mx-60 text-lg my-5">
				<span class="font-semibold">Article 0 - Préambule</span><br>
				L’entreprise HuilesVégétales_AK mobilise tout son savoir faire au service de sa clientèle, afin de répondes au mieux à ses attentes et en adaptant l’offre aux différents besoins des consommateurs.<br>
				Ainsi, il est convenu lire attentivement les règles commerciales usuelles ci dessous.<br>
				En commandant vos produits, vous acceptez au préalable toutes les conditions commerciales qui suivent.<br><br>
				<span class="font-semibold">Article 1 - Généralités</span><br>
				Les présentes conditions générales définissent les droits et obligations des deux parties (vendeur, acheteurs).<br>
				Elles s’appliquent sans restriction ni réserve à l'ensemble des produitss proposés et vendus par l’intermédiaire du site marchand www.hv_ak.com.<br>
				Toute personne validant une commande accepte sans reserve le contenu des présentes conditions générales de vente.<br>
				Le client/consommateur reconnaît être informé sur son accord concernant le contenu des présentes conditions générales ne nécessitant pas la signature manuscrite de ce document, dans la mesure où le client/consommateur souhaite réaliser les actes d’achat en ligne des produits proposés.<br>
				Il lui revient de sauvegarder ou d'éditer les présentes conditions générales. Il engage sa presponsabilité quant à la connaissance, la consultation et la conservation de ce document.<br>
				Tous les frais de télécommunication durant le temps d'accès à l'Internet et de l'utilisation du site, ainsi que tous les frais éventuels de contact pour toute réclamation ultérieure sont à la charge du client/consommateur.<br><br>
				<span class="font-semibold">Article 2 – Description générale des produits</span><br>
				Tous les produits proposés à la vente sur le site sont disponibles jusqu'à épuisement du stock.<br>
				Les supports de visuel, d'étiquetage et d'emballage des produits vont régulièrement évoluer et différer de leurs affichages sur le site.<br>
				Ces changements n’ont aucun impact sur le produit lui-même dans son contenu.<br>
				Si le client/consommateur souhaite disposer de plus d’information,  il a toujours la possibilité de demander les renseignements complémentaires par courrier électronique (e-mail) à l'adresse courriel suivante:<br>HV_AK se réserve tous les droit de retirait, remplacement, modification ou changement des produits présentés sans avis préalable.<br>
				Il peut proposer de nouveaux produits sans toutefois modifier les caractéristiques des produits déjà commandés par les clients.<br></p>
			<li class="text-xl font-semibold lg:mx-40">Protection des données personnelles</li>
			<li class="text-xl font-semibold lg:mx-40">Formulaire de contact</li>
		</ul>
	</div>


{% endblock %}
