{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}

	<h1 class="text-center text-green text-4xl">{{message}}</h1>

	<!--description-->
	<div class="flex flex-col xl:flex-row xl:my-20 xl:mx-52">

		<div class="w-80 mx-auto">
			<ul class="p-0 divide-y divide-green-700 bg-gray-50 filter drop-shadow-lg ">
				<li class="py-3 px-3 text-white bg-green uppercase">
					<h5>Familles botaniques</h5>
				</li>
				{% for family in families %}
					<li class="py-3 px-3 text-green hover:bg-gray-200">
						<a class="no-underline text-green uppercase text-lg link" href="{{path('family_huile',{id:family.id, slug:family.slug })}}">{{family.name}}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="text-justify xl:ml-20">
			<h1>Huiles végétales de germe de graines et oléagineux activés</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>

			<h1>Pré-traitement: Germination des graines et activation des oléagineux</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>

			<h1>Méthode d’extraction: Presse hydraulique</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>
		</div>

	</div>


{% endblock %}
