{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}
	<main>

		<!--nouveautés-->
		<section class="section">
			<h1 class="section-title">Huiles vegetales de graines germees et des oléagineux activés</h1>
			<h1 class="section-title">Nos produits</h1>
		</section>

		<!--nouveautés-->
	


		<!--familles botaniques-->
		<div class="familles">
			<h3>Familles botaniques</h3>
			<div class="card">
				<div class="card-body">
					<div class="card-link">
						<ul>
							{% for family in families|sort((a, b) => a.name <=> b.name) %}
								{% if family.active %}
									<li>
										<a href="{{path('family_huile',{id:family.id, slug:family.slug })}}">{{family.name}}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--méthodes de production-->
		<div class="methodeProduction">
			<h3>Méthodes de production</h3>
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h3>Parties utilisées: Graines et oléagineux
						</h3>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>
						<h3>Pré-traitement: Germination des graines et activation des oléagineux</h3>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>

						<h3>Méthode d’extraction mécanique: Presse hydraulique</h3>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
