:root {
  --green: #4a894c;
  --blue: #2F4858;
  --textblue:#00646B;
  --lightblue:#00646B;
}
.text-green{
  color:var(--green);
}
.border-green{
border-color:var(--green);
}
.bg-green{
  background:var(--green);
}
.background-blue{
  background:var(--blue);
}
.bg-lightblue{
background-color: var(--lightblue);  
}
.text-blue{
  color:var(--textblue);
}
.title{
  font-family: 'Sacramento', cursive;
}
.subtitle{
  font-family: 'Hind Vadodara', sans-serif;
}
.text{
  font-family: 'Nunito Sans', sans-serif;
}


.btn{
border:2px solid var(--green);
font-weight: bold;
color:black;
border-radius:20px;
}
.btn:hover{
  color:white;
  background:var(--green);
}
.link:hover{
color:var(--green);
}



/* MENU MOBILE */
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  cursor: pointer;
}
.menu-btn span {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background: black;
  transition: all 0.5s ease-in-out;
}
.menu-btn::before {
  content: "";
  top: 0;
  position: absolute;
  height: 5px;
  width: 100%;
  background: black;
  transition: all 0.5s ease-in-out;
}
.menu-btn::after {
  content: "";
  bottom: 0;
  position: absolute;
  height: 5px;
  width: 100%;
  background: black;
  transition: all 0.5s ease-in-out;
}

.menu-btn.open {
  transition: 0.5s;
 
}
.menu-btn ul {
  position: fixed;
  width:60%;
  height: 100vh; 
  background: var(--blue);
  top: 0;
  left: -100%;
  transition: all 0.5s;
 
}
.menu-btn.open ul {
  left: 0;
  z-index: 1;
}
.menu-btn ul li {
  display: block;
   margin: 30px 0; 

}
.menu-btn ul li a {
  font-size: 20px;
  color: white;
}

.menu-btn.open span {
  transform: translateX(-50px) rotate(180deg);
  width: 5%;
  transition: all 0.5s ease-in-out;
  opacity: 0%;
}
.menu-btn.open::before {
  transition: all 0.5s ease-in-out;
  transform: translateY(17px) rotate(45deg);
  background: var(--green);
}
.menu-btn.open::after {
  transition: all 0.5s ease-in-out;
  transform: translateY(-17px) rotate(-45deg);
  background: var(--green);
}

@media screen and (min-width: 797px) {
  .menu-btn {
    display: none;
  }
}
@media screen and (max-width: 797px) {
  .menu-desktop {
    display: none;
  }

}
/*checkbox*/
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
  box-shadow:inset -2px -2px 15px rgba(0,0,0, 0.5)
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(0,0,0, 0.5)
}

input:checked + .slider {
  background-color: var(--green);
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*PRODUITS*/
.oil-button:hover{
border-color:var(--green);
}