{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

	<h1 class="text-center text-green text-4xl">Famille des
		{{family.name}}</h1>

	<div class="flex flex-wrap justify-center xl:mx-52">


		{% for huile in huiles|sort((a, b) => a.name <=> b.name) %}
			{% if huile.active %}

				<a href="{{path('huile_read', {id: huile.id, slug:huile.slug})}}" class="no-underline w-72 xl:w-96 mx-auto  mt-10 xl:mb-20">
					<div id="carouselExampleControls" class="carousel slide xl:w-80 mx-auto" data-bs-ride="carousel">
						<div class="carousel-inner">
							{% for image in huile.images %}
								<div class="carousel-item {% if loop.first %} active {% endif %}">
									<img src="{{ asset('/uploads/'~ image.name)}}" alt="Image">
								</div>
							{% endfor %}
							{% if huile.images.isempty %}
								<div class="flex flex-col border-2 border-black rounded-lg text-center text-black uppercase font-semibold text-xl py-3 bg-gray-100">
									<span>Image non disponible</span>
									<span class="text-7xl">X</span>
								</div>
							{% endif %}
						</div>
						<span class="font-bold text-xl  text-green">{{huile.name}}</span>
					</div>
				</a>

			{% endif %}
		{% endfor %}


	</div>
{% endblock %}
