{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

	<h1 class="text-center text-green text-4xl">Famille des
		{{family.name}}</h1>

	<div class="flex flex-wrap justify-center mx-10 xl:mx-52 ">
		{% for huile in huiles %}
			<a href="{{path('huile_read', {id: huile.id, slug:huile.slug})}}" class="no-underline mx-10   mt-10 mb-20 ">
				<div class="my-10  border-2 h-80 cursor-pointer   rounded-lg  hover:bg-gray-100">
					<div class="my-5 w-80  ">
						{% if huile.pictures %}
							<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									{% for picture in huile.pictures %}
										<div class="carousel-item {% if loop.first %} active {% endif %}">
											<img class="d-block w-100 rounded-lg object-cover" src="{{vich_uploader_asset(picture, 'imageFile')| imagine_filter('thumb')}}" alt="">
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>


				</div>
				<div class="">
					<span class="font-bold text-xl  text-green">{{huile.name}}</span>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
