{% extends "base.html.twig" %}

{% block title %}Ajout
{% endblock %}

{% block body  %}
	<h1 class="text-center">Ajouter une nouvelle huile</h1>
	<div class="mx-auto w-96">


		{% include "admin/huiles/_form.html.twig" %}


	</div>
{% endblock %}
