{% extends "base.html.twig" %}

{% block title %}Ajout
{% endblock %}

{% block body  %}

	<div class="mx-auto w-96">

		<h2>Ajouter une nouvelle huile</h2>
		{% include "admin/huiles/_form.html.twig" %}


	</div>
{% endblock %}
